@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  transition: all 0.3s;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Colors */
  --color-active: #1C1442;
  --color-notActive: #E7E8EF;
  --color-secondary: #E8E9FF;
  --color-gray: #A0A3BD;
  --color-publish-text: #0DAD82;
  --color-publish: #E4FFF8;
  --color-created-text: #58A4FF;
  --color-created: #DAF1FB;
  --color-draft: #F4F4F4;
  --color-dark: #212121;
  --color-dark-100: #1C1D22;
  --color-dark-50: #53545C;
}

@media (prefer-color-schema: dark) {
  :root{
    --background: #171717;
    --foreground: #fffff;
  }
}


.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.publish-btn {
  @apply bg-created text-created-text px-6 py-2 rounded-lg text-sm font-medium cursor-pointer transition-colors duration-100;
}

.card {
  @apply w-full h-[31rem] rounded-lg flex justify-center items-center bg-background bg-top text-foreground
}

.card-content {
  @apply absolute bg-gradient-to-t from-dark via-dark-100/60 to-transparent bottom-4 w-full h-60 flex flex-col justify-end gap-3 px-2
}